<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Asignar Ticket</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="resources/icons/close1.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

      <md-dialog-content >
<fieldset class="standard">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="d in detalletickets">
  <div class="md-list-item-text" layout="column">
    <p>Actualizado por:{{d.nombreActualizado}}</p>
    <p>Area:{{d.nombreDeptoArea}}</p>
    <p>Asunto:{{d.asunto}}</p>
    <p>{{d.fechaActualizar | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
     </div>
     <md-divider ng-if="!$last"></md-divider>
     
</md-list-item>
   </md-list>
    
     <div layout="row" layout-align="center center">
                        <div flex="90">

           <md-input-container class="md-block">
             <label>Asunto</label>
              <textarea ng-model="asunto" md-maxlength="500" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                        </div>
                    </div>
    </fieldset>
    </md-dialog-content>

    <md-dialog-actions layout="row">
       <md-button ng-click="actualizarTicketDetalle()">
           Enviar
        <md-icon  md-svg-icon="resources/icons/send-button.svg"></md-icon>             
        </md-button>
      <md-button ng-click="cancel()" class="md-primary">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>