
<md-toolbar >
   
  <div class="menu-demo-container" >
        <md-button class="md-icon-button" ng-click="vm.abrirMenu()">
            <!--<md-icon style="font-size: 60px; height: 48px; flex-grow: 1; line-height: 24px;" md-svg-icon="resources/icons/menu.svg" ></md-icon>-->
            <md-icon  md-svg-icon="resources/icons/menu.svg" ></md-icon>
        </md-button> 
        <md-button class="md-icon-button " ng-click="vm.inicio()">
            <!--<md-icon style="font-size: 60px; height: 48px; flex-grow: 1; line-height: 24px;" md-svg-icon="resources/icons/menu.svg" ></md-icon>-->
            <md-icon  md-svg-icon="resources/icons/dashboard.svg" ></md-icon>
        </md-button>
      <md-menu-bar style="float:right">
      <md-menu >
        <md-button  ng-click="$mdOpenMenu($event)" aria-label="Open sample menu" style="float:right">
            <!--<md-icon style="font-size: 60px; height: 48px; flex-grow: 1; line-height: 24px;" md-svg-icon="resources/icons/menu.svg" ></md-icon>-->
             <md-p >{{vm.pantallas.userName}}</md-p>
            <md-icon  md-svg-icon="resources/icons/user.svg" ></md-icon>
                  
        </md-button>
  <md-menu-content>
   <md-menu-item><md-button ng-click="vm.cerrarSesion()"><md-icon md-svg-icon="resources/icons/exit.svg"></md-icon>Salir</md-button></md-menu-item>
 </md-menu-content>
</md-menu>
  </md-menu-bar>
    </div>
            
   
</md-toolbar>

<!--HTML para la barra de menus-->
<md-sidenav class="md-sidenav-left md-whiteframe-2dp" md-component-id="appMenu">
    <md-content>
        <center>
            <div style="width: 180px; padding: 10px;">
                <img style="width: 70%;" src="resources/img/ticketMenu.png"/>
            </div>
        </center>

        <md-list>
            <md-list-item>
                 <md-icon  md-svg-icon="resources/icons/user.svg" ></md-icon>
                <p>{{vm.pantallas.userName}}</p>
            </md-list-item>
            <md-list-item ng-click="vm.navigateTo(-1, $event)">
                <md-icon md-svg-icon="resources/icons/exit.svg"></md-icon>
                <p>Salir</p>
            </md-list-item>
            <md-list-item ng-click="vm.navigateTo(-2, $event)">
                <md-icon md-svg-icon="resources/icons/users.svg"></md-icon>
                <p>Agregar Usuario</p>
            </md-list-item>
            <md-list-item ng-click="vm.navigateTo(-3, $event)">
                <md-icon md-svg-icon="resources/icons/multiple-users.svg"></md-icon>
                <p>Mostrar Usuarios</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>

<md-sidenav class="md-sidenav-left md-whiteframe-2dp" md-component-id="appUsuario">
    <md-content>
        <md-list>
        <md-list-item ng-click="vm.navigateTo(-3, $event)">
                <md-icon md-svg-icon="resources/icons/multiple-users.svg"></md-icon>
                <p>Mostrar Usuarios</p>
            </md-list-item>    
</md-list>
    </md-content>
</md-sidenav>

<div ui-view="menu">
    <div>
                    <center>
                        <div style="width: 180px; padding: 10px;">
                            <img style="width: 100%;" src="resources/img/logoUmg.png" />
                            <h1>DASHBOARD</h1>
                        </div>
                    </center>
                </div>
    <br>
    <br>
    <br>
    
    <div class="md-toolbar-tools">
        
    <div>
        <center>
         <div style="width: 180px; padding: 10px;">
             <md-button ng-click="vm.crearTicket()" ><img style="width: 100%;" src="resources/img/create_ticket.JPG"/></md-button>
                <h1>0</h1>  
         </div>
        </center>
    </div>
        
    <div>
        <center>
         <div style="width: 180px; padding: 10px;">
                <md-button href="#/Principal" ><img style="width: 100%;" src="resources/img/ticket1.png"/></md-button>
         <h1>0</h1>    
         </div>
        </center>
    </div>
        
        <div>
            <center>
         <div style="width: 180px; padding: 10px;">
                <md-button href="#/Principal" ><img style="width: 100%;" src="resources/img/Removeticket.png"/></md-button>
         <h1>0</h1>   
         </div>
            </center>
    </div>
        <div>
            <center>
         <div style="width: 180px; padding: 10px;">
                <md-button href="#/Principal" ><img style="width: 100%;" src="resources/img/Mytickets.png"/></md-button>
         <h1>0</h1>   
         </div>
            </center>
    </div>
        </div>
        
</div>