<md-content ng-cloak>
    <div layout="row" layout-align="center center">
        <div flex="50">
            <md-card>
                <ng-form id="myTicketForm" name="ticketForm">

                    <div layout="row" layout-align="center center">
                        <h3>MIS TICKETS</h3>
                    </div>
                    <fieldset class="standard">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="d in vm.myticket" ng-click="showAdvanced($event,d)">
    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
  <div class="md-list-item-text" layout="column">
    <p>Ticket#{{d.id}} Usuario:{{d.usuario.nombreUsuario}}</p>
    <p>Departamento:{{d.usuario.areaTrabajo.departamento.nombreDepartamento}}</p>
    <p>Problema: {{d.tituloProblema}}</p>
    <p>{{d.fechaInicio | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
    {{$state.transitionTo("menu.bandejaTicket")}}
    <div layout="row" layout-align="center center">
        <md-button class="md-icon-button">
            <md-icon  md-svg-icon="resources/icons/chat.svg" ></md-icon> 
            
        </md-button>
                    
    </div>
  </div>
     <md-divider ng-if="!$last"></md-divider>
     
</md-list-item>
   </md-list>
 </fieldset>
 </md-card>
 </div>
 </div>
</md-content>